.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
}

.menu ul {
  padding-right: 15px;
}

.menu li {
  list-style: none;
  display: inline;
  padding: 8px;
}
